/* Large Screeen */
@media screen and (min-width: 1008px) {
  .signup {
    border: 1px solid red;
    width: 30%;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    border-radius: 10px;
  }
  .signup_heading {
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 500;
  }
  .signup_field {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }
  .signup_input {
    width: 95%;
    height: 30px;
    outline: none;
    border: 1px solid gray;
    padding-left: 15px;
  }
  .signup_button {
    margin-top: 15px;
  }
  .signup_button_click {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: rgb(5, 29, 29);
    color: white;
  }
}

/* Medium Screen */
@media screen and ((min-width: 641px) and (max-width: 1007px)) {
  .signup {
    border: 1px solid red;
    width: 60%;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    border-radius: 10px;
  }
  .signup_heading {
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 500;
  }
  .signup_field {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }
  .signup_input {
    width: 96%;
    height: 30px;
    outline: none;
    border: 1px solid gray;
    padding-left: 15px;
  }
  .signup_button {
    margin-top: 15px;
  }
  .signup_button_click {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: rgb(5, 29, 29);
    color: white;
  }
}

/* Small Screen */
@media screen and (max-width: 640px) {
  .signup {
    border: 1px solid red;
    width: 70%;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    border-radius: 10px;
  }
  .signup_heading {
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 500;
  }
  .signup_field {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }
  .signup_input {
    width: 95%;
    height: 30px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 15px;
  }
  .signup_button {
    margin-top: 15px;
  }
  .signup_button_click {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: rgb(5, 29, 29);
    color: white;
  }
}
